*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
    
}
body{
    background: url('pic.jpg') no-repeat;
    background-size: cover;
    
    
}

.main{
   
    align-items: center;
    justify-content: center;
    display: flex;
   
}

.container{
   padding: 20px;
   background-clip: padding-box;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 350px;
   background-color: #a9a9a9;
}

.container h2{
    padding-bottom: 20px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    display: flex;

}

.contact_form input{
    font-size: 15px;
    padding: 5px 10px;
    width: 80%;
    border: 0;
    border-radius: 5px;

}

.contact_form button{
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 10px;
    border: 0;
    border-radius: 5px;
    background-color: grey;
}

.details{
    font-size: 15px;

}
